@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0c0f0e;
  color: #fff;
}

.card {
  background: linear-gradient(
    154deg,
    rgba(151, 71, 255, 0.06) 0%,
    rgba(17, 169, 125, 0.06) 100%
  );
}

 li.react-tabs__tab--selected button {
  border-bottom: 3px solid;
  border-bottom-color: #046ed1;
}
